body {
    margin: 0;
}
header {
    background-color:#333;
    margin-bottom: 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 130px;
    flex-direction: column;
}

div.footerCaption {
    align-self: flex-end;
    color: white;
}

div.footerImage {
    align-self: center;
}

footer {
    flex-shrink: 0;
    display:flex;
    height:100px;
    justify-content:space-between;
    background-color: #333;
}